<section  id="home">
  <div class='container mt-5 col-md-10 col-11'>
    <div class="hd">Nuestros Servicios</div>
    <p>Somos una empresa <br /></p>
   
 
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-11">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile mb-4 mt-3">  <img src="../../assets/img/Trabajo.png"  alt="Trabajo" /> </div>
                    <div class="card-subtitle">
                        <p><fa-icon [icon]="faquoteleft"></fa-icon> Portal laboral <fa-icon [icon]="faquoteright"></fa-icon></p>
                    </div>
 
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-11 second">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile mb-4 mt-3">
                      <img src="../../assets/img/limpieza.jpg"  alt="Personal" /> </div>
                    <div class="card-subtitle">
                        <p>  <fa-icon [icon]="faquoteleft"></fa-icon> Contamos, con el personal mejor calificado <fa-icon [icon]="faquoteright"></fa-icon> </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="card col-md-3 col-11 third">
            <div class="card-content">
                <div class="card-body p-0">
                  <div class="profile mb-4 mt-3">
                    <img src="../../assets/img/Informacio.jpg"  alt="informacion" /> </div>
                    <div class="card-subtitle">
                        <p> <fa-icon [icon]="faquoteleft"></fa-icon> Contamos, con el historial de cada profesional <fa-icon [icon]="faquoteright"></fa-icon></p>
                    </div>
   
                </div>
            </div>
        </div>
    </div>
</div>
</section>
