

<section class="hero-area" id="home">
  <div class='container mx-auto mt-5 col-md-10 col-11'>
    <div class="hd">Nuestros Servicios</div>
    <p><small class="text-muted">Somos una empresa ---- <br />is expected of you, no matter what your ask may be.</small></p>
   
 
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-11">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile mb-4 mt-3">  <img src="../../assets/img/Trabajo.png"  alt="Trabajo" /> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> <i class="fas fa-quote-left"></i> Portal laboral <i class="fas fa-quote-left fa-flip-horizontal"></i> </small> </p>
                    </div>
 
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-11 second">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile mb-4 mt-3">
                      <img src="../../assets/img/limpieza.jpg"  alt="Personal" /> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> <i class="fas fa-quote-left "></i> Contamos, con el personal mejor calificado <i class="fas fa-quote-left fa-flip-horizontal"></i> </small> </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="card col-md-3 col-11 third">
            <div class="card-content">
                <div class="card-body p-0">
                  <div class="profile mb-4 mt-3">
                    <img src="../../assets/img/Informacio.jpg"  alt="informacion" /> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> <i class="fas fa-quote-left"></i> Contamos, con el historial de cada profesional <i class="fas fa-quote-left fa-flip-horizontal"></i> </small> </p>
                    </div>
   
                </div>
            </div>
        </div>
    </div>
</div>
</section>
