<form [formGroup]="formBuscar">
    <section id="BuscarEmpleado">
        <div class="container py-2 mx-auto">
            <div class="card card0 border-0">
                <div class="row d-flex">
                    <div class="container">
                        <div class="row gutters-sm">
                            <div class="col-md-3 mt-2 ml-2 mr-2 mb-2">

                                <div class="form-group card mt-1">
                                    <div class="card-body">
                                        
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <img src="https://cflvdg.avoz.es/sc/4UkTJCAYrB0wJWd_hd4lLzTr33Y=/x/2017/01/22/00121485107936127344615/Foto/trabajoh.jpg" alt="Admin" class="rounded-circle"
                                                width="180" />
                                            <div class="mt-2">
                                                <h4>{{titulo}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group card mt-4 mx-auto">
                                    <div class="card-header">Busqueda Nuevo Empleado
                                        <span class="float-right" ngbTooltip="Ayuda">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                class="bi bi-info-circle" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path
                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                <circle cx="8" cy="4.5" r="1" />
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="text-justify mx-auto" style="width: 90%;">Mediante este formularios, podrá realizar
                                        busqueda de nuevo personal, para esto deberá utilizar los filtros, por lo cuales desea segmentar, a los
                                        posibles candidatos.</p>
                                </div>
                            </div>
                            <div class="col-md-8 mt-3 ml-3 mb-2 mr-2">
                                <div class="card mb-1">
                                    <div class="card-body">
                                    
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="lblSueldo">Seleccione Genero</label>
                                                <select class="form-control my-1" formControlName="jornada"
                                                id="jornada">
                                                <option value="" selected>Seleccione Genero</option>
                                                <option value="Completa">Femenino</option>
                                                <option value="Mañana">Masculino</option>
                                            </select>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="lblFecIniPub">Seleccione Región</label>
                                                <select name="regiones" id="region" class="form-control my-1" ng-model="regiones"
                                                (change)="onChangeComuna($event.target.value)" formCon
                                                rolName="region">
                                                <option value="">Seleccione Región</option>
                                                <option *ngFor="let regiones of regionesModel"
                                                    value="{{regiones.REGION_ID}}">{{regiones.REGION_NOMBRE}}
                                                </option>
                                            </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="lblJornada">Seleccione Comuna</label>
                                                <select name="comuna" id="comuna" class="form-control my-1" ng-model="comuna" 
                                                formControlName="comuna">
                                                <option value="">Seleccione Comuna</option>
                                                <option *ngFor="let comuna of comunaModel"
                                                    value="{{comuna.COMUNA_ID}}">{{comuna.COMUNA_NOMBRE}}
                                                </option>
                                            </select>
                                            </div>
                                          
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="lblFecIniPub">Tipo Cargo</label>
                                                <select name="regiones" id="region" class="form-control my-1" ng-model="regiones"
                                                (change)="onChangeComuna($event.target.value)" formCon
                                                rolName="region">
                                                <option value="">Seleccione Región</option>
                                                <option *ngFor="let regiones of regionesModel"
                                                    value="{{regiones.REGION_ID}}">{{regiones.REGION_NOMBRE}}
                                                </option>
                                            </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="lblJornada">Jornada</label>
                                                <select name="comuna" id="comuna" class="form-control my-1" ng-model="comuna" 
                                                formControlName="comuna">
                                                <option value="">Seleccione Comuna</option>
                                                <option *ngFor="let comuna of comunaModel"
                                                    value="{{comuna.COMUNA_ID}}">{{comuna.COMUNA_NOMBRE}}
                                                </option>
                                            </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="lblSueldo">Turno</label>
                                                <select class="form-control my-1" formControlName="jornada"
                                                id="jornada">
                                                <option value="" selected>Seleccione Turno</option>
                                                <option value="Completa">Completa</option>
                                                <option value="Mañana">Mañana</option>
                                                <option value="Tarde">Tarde</option>
                                                <option value="Noche">Noche</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6 text-center">
                                                <button type="submit"
                                                    class="btn btn-outline-primary">Buscar</button>
                                            </div>
                                            <div class="form-group col-md-6 text-center">
                                                <button class="btn btn-outline-primary">Limpiar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <div class="row">

            
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:
                    100%;">
          
          
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
          
                    <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
          
          
            <ng-container matColumnDef="rut">
              <th mat-header-cell *matHeaderCellDef> rut </th>
              <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
            </ng-container>
            
            <ng-container matColumnDef="nombreCompleto">
              <th mat-header-cell *matHeaderCellDef> nombreCompleto </th>
              <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
            </ng-container>
          
            <ng-container matColumnDef="rutEmpresa">
              <th mat-header-cell *matHeaderCellDef> rutEmpresa </th>
              <td mat-cell *matCellDef="let element"> {{element.rutEmpresa}} </td>
            </ng-container>
            
            <ng-container matColumnDef="nombreEmpresa">
              <th mat-header-cell *matHeaderCellDef> nombreEmpresa </th>
              <td mat-cell *matCellDef="let element"> {{element.nombreEmpresa}} </td>
            </ng-container>
          
            <ng-container matColumnDef="fechaIngreso">
              <th mat-header-cell *matHeaderCellDef> fechaIngreso </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaIngreso}} </td>
            </ng-container>
          
            <ng-container matColumnDef="fechaFin">
              <th mat-header-cell *matHeaderCellDef> fechaFin </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaFin}} </td>
            </ng-container>
          
            <ng-container matColumnDef="nombreArticulo">
              <th mat-header-cell *matHeaderCellDef> nombreArticulo </th>
              <td mat-cell *matCellDef="let element"> {{element.nombreArticulo}} </td>
            </ng-container>
          
            <ng-container matColumnDef="nombreInciso">
              <th mat-header-cell *matHeaderCellDef> nombreInciso </th>
              <td mat-cell *matCellDef="let element"> {{element.nombreInciso}} </td>
            </ng-container>
          
            <ng-container matColumnDef="observacion">
              <th mat-header-cell *matHeaderCellDef> observacion </th>
              <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
            </ng-container>
            
            
            
            
            
            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
           <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" style="width:
           100%;"></mat-paginator> 
          
                  </div>
                          
            </div>
        </div>

       
    </section>
   
</form>


