
<form (ngSubmit)="onSubmit()" [formGroup]="formBuscar">
    <section id="BuscarEmpleado">
        <div class="container py-2 mx-auto">
            <div class="card card0 border-0">
                <div class="row d-flex">
                    <div class="container">
                        <div class="row gutters-sm">
                            <div class="col-md-3 mt-2 ml-2 mr-2 mb-2">

                                <div class="form-group card mt-1">
                                    <div class="card-body">
                                        
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <img src="https://cflvdg.avoz.es/sc/4UkTJCAYrB0wJWd_hd4lLzTr33Y=/x/2017/01/22/00121485107936127344615/Foto/trabajoh.jpg" alt="Admin" class="rounded-circle"
                                                width="180" />
                                            <div class="mt-2">
                                                <h4>{{titulo}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group card mt-4 mx-auto">
                                    <div class="card-header">Busqueda Nuevo Empleado
                                        <span class="float-right" ngbTooltip="Ayuda">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                class="bi bi-info-circle" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path
                                                    d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                <circle cx="8" cy="4.5" r="1" />
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="text-justify mx-auto" style="width: 90%;">Mediante este formularios, podrá realizar
                                        busqueda de nuevo personal, para esto deberá utilizar los filtros, por lo cuales desea segmentar, a los
                                        posibles candidatos.</p>
                                </div>
                            </div>
                            <div class="col-md-8 mt-3 ml-3 mb-2 mr-2">
                                <div class="card mb-1">
                                    <div class="card-body">
                                    
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="lblFecIniPub">cargo </label>
                                                <select name="cargo" id="cargo" class="form-control my-1" ng-model="cargo" (change)="onChangecargo($event.target.value)">
                                                <option value="">Seleccione Cargo</option>
                                                <option *ngFor="let cargos of cargoModel"
                                                    value="{{cargos.pra_val}}">{{cargos.pra_des}}
                                                </option>
                                            </select>

                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="lblFecIniPub">Cursos</label>
                                                <select name="curso" id="curso" class="form-control my-1" ng-model="curso" (change)="onChangecurso($event.target.value)">
                                                <option value="">Seleccione Cursos</option>
                                                <option *ngFor="let cursos of cursoModel"
                                                    value="{{cursos.pra_val}}">{{cursos.pra_des}}
                                                </option>
                                            </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="lblJornada">Sexo Empleado</label>
                                                <select name="sexo" id="sexo" class="form-control my-1" ng-model="sexo"  (change)="onChangesexo($event.target.value)">
                                                <option value="">Seleccione Sexo</option>
                                                <option *ngFor="let Sexos of SexoModel"
                                                value="{{Sexos.pra_val}}">{{Sexos.pra_des}}
                                            </option>
                                            </select>
                                            </div>
                                          
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="lblFecIniPub">Region</label>
                                                <select name="regiones" id="region" class="form-control my-1" ng-model="regiones"
                                                (change)="onChangeComuna($event.target.value)">
                                                <option value="">Seleccione Región</option>
                                                <option *ngFor="let regiones of regionesModel"
                                                    value="{{regiones.REGION_ID}}">{{regiones.REGION_NOMBRE}}
                                                </option>
                                            </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="lblJornada">Comuna</label>
                                                <select name="comuna" id="comuna" class="form-control my-1" ng-model="comuna"  (change)="onChangecomuna($event.target.value)">onChangecomuna
                                                <option value="">Seleccione Comuna</option>
                                                <option *ngFor="let comuna of comunaModel"
                                                    value="{{comuna.COMUNA_ID}}">{{comuna.COMUNA_NOMBRE}}
                                                </option>
                                            </select>
                                            </div>
                                        <div class="form-group col-md-4">
                                            <label for="lblFecIniPub">Turno </label>
                                            <select name="turno" id="turno" class="form-control my-1" ng-model="turno"  (change)="onChangeturno($event.target.value)"> 
                                            <option value="">Seleccione Turno</option>
                                            <option *ngFor="let turnos of turnoModel"
                                                value="{{turnos.pra_val}}">{{turnos.pra_des}}
                                            </option>
                                        </select>
                                        </div>
                                        </div>
                                        <div class="form-row">
                                         
                                            <div class="form-group col-md-6 text-center">
                                                <div class="col-md-6"><button type="submit" class="btn btn-blue text-center mb-1 py-2" >Buscar</button></div>
                                            </div>


                                            <div class="form-group col-md-6 text-center">
                                                <button class="btn btn-outline-primary">Limpiar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
      
                <h2>Listado de Perfiles</h2>
                <table mat-table [dataSource]="buscarperfil" class="mat-elevation-z8" style="width:
                    100%;">
                    <ng-container matColumnDef="idPerfil">
                        <th mat-header-cell *matHeaderCellDef>idEvaluacion</th>
                        <td mat-cell *matCellDef="let perfil"> {{perfil.idPerfil}} </td>
                    </ng-container>
                    <ng-container matColumnDef="rutempleado">
                        <th mat-header-cell *matHeaderCellDef>rutempleado</th>
                        <td mat-cell *matCellDef="let perfil"> {{perfil.rutempleado}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombreempleado">
                        <th mat-header-cell *matHeaderCellDef>nombreempleado</th>
                        <td mat-cell *matCellDef="let perfil"> {{perfil.nombreempleado}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cargo">
                        <th mat-header-cell *matHeaderCellDef>cargo</th>
                        <td mat-cell *matCellDef="let perfil"> {{perfil.cargo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cursos">
                        <th mat-header-cell *matHeaderCellDef>cursos</th>
                        <td mat-cell *matCellDef="let perfil"> {{perfil.cursos}} </td>
                    </ng-container>
                    <ng-container matColumnDef="sexo">
                        <th mat-header-cell *matHeaderCellDef>sexo</th>
                        <td mat-cell *matCellDef="let perfil"> {{perfil.sexo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="educacion">
                        <th mat-header-cell *matHeaderCellDef>educacion</th>
                        <td mat-cell *matCellDef="let perfil"> {{perfil.educacion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nivelcomputacional">
                        <th mat-header-cell *matHeaderCellDef>nivelcomputacional</th>
                        <td mat-cell *matCellDef="let perfil"> {{perfil.nivelcomputacional}} </td>
                    </ng-container>
                    <ng-container matColumnDef="comuna">
                        <th mat-header-cell *matHeaderCellDef>comuna</th>
                        <td mat-cell *matCellDef="let perfil"> {{perfil.comuna}} </td>
                    </ng-container>
                    <ng-container matColumnDef="turno">
                        <th mat-header-cell *matHeaderCellDef>turno</th>
                        <td mat-cell *matCellDef="let perfil"> {{perfil.turno}} </td>
                    </ng-container>
                    <ng-container matColumnDef="experiencia">
                        <th mat-header-cell *matHeaderCellDef>experiencia</th>
                        <td mat-cell *matCellDef="let perfil"> {{perfil.experiencia}} </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>email</th>
                        <td mat-cell *matCellDef="let perfil"> {{perfil.email}} </td>
                    </ng-container>
                    <ng-container matColumnDef="telefono">
                        <th mat-header-cell *matHeaderCellDef>telefono</th>
                        <td mat-cell *matCellDef="let perfil"> {{perfil.telefono}} </td>
                    </ng-container>

               

                    <tr mat-header-row *matHeaderRowDef="[
                    'idPerfil',
                    'rutempleado',
                    'nombreempleado',
                    'cargo',
                    'cursos',
                    'sexo',
                    'educacion',
                    'nivelcomputacional',
                    'comuna',
                    'turno',
                    'experiencia',
                    'email',
                    'telefono'
                    ]"></tr>
                    <tr mat-row *matRowDef="let fila; columns: [
                    'idPerfil',
                    'rutempleado',
                    'nombreempleado',
                    'cargo',
                    'cursos',
                    'sexo',
                    'educacion',
                    'nivelcomputacional',
                    'comuna',
                    'turno',
                    'experiencia',
                    'email',
                    'telefono'                        
                    ];"></tr>
                </table>
             
            </div>
        </div>

       
    </section>
   
</form>


