<div class="formPub" *ngIf="mostrarFormPublicidad">
    <form [formGroup]="formGestionPublicidad" (ngSubmit)="onSubmit()">
        <section id="guardiaPostula">
            <div class="container py-2 mx-auto">
                <div class="card card0 border-0">
                    <div class="row d-flex">
                        <div class="container">
                            <div class="main-body">
                                <div class="row gutters-sm">

                                    <div class="col-md-3 mt-2 ml-2 mr-2 mb-2">

                                        <div class="form-group card mt-1">
                                            <div class="card-body">
                                                <div class="d-flex flex-column align-items-center text-center">
                                                    <img src="{{this.imagenTitulo}}" alt="Admin" class="rounded-circle"
                                                        width="180" />
                                                    <div class="mt-2">
                                                        <h4>{{this.titulo}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group card mt-4 mx-auto">
                                            <div class="card-header">Descripción
                                                <span class="float-right" ngbTooltip="Ayuda">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                        class="bi bi-info-circle" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                        <path
                                                            d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                        <circle cx="8" cy="4.5" r="1" />
                                                    </svg>
                                                </span>
                                            </div>
                                            <p class="text-justify mx-auto" style="width: 90%;">Lorem ipsum dolor sit
                                                amet
                                                consectetur adipisicing elit. Facilis perspiciatis nam quod soluta odit
                                                voluptatibus dicta a ipsam voluptates, eos at iure sunt tempora debitis
                                                dignissimos! Quidem, non. Beatae doloribus aperiam ex at eius obcaecati
                                                soluta voluptas culpa quidem dolor, dolorem sed voluptatum in magnam!
                                                Sequi
                                                autem animi non laudantium.</p>
                                        </div>
                                    </div>

                                    <div class="col-md-8 mt-3 ml-3 mb-2 mr-2">
                                        <div class="card mb-1">
                                            <div class="card-body">

                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="lblRutEmpresa">Rut Empresa </label>
                                                        <input type="text" class="form-control my-1" id="rutEmpresa"
                                                            formControlName="rutEmpresa"
                                                            [(ngModel)]="publicidadModel.rutEmpresa" />
                                                        <p class="rutErrorEmp" id="validacion-live"></p>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="lblNombreEmpresa">Nombre Empresa</label>
                                                        <input type="text" class="form-control my-1"
                                                            formControlName="NombreEmpresa"
                                                            [(ngModel)]="publicidadModel.nomEmpresa"
                                                            id="NombreEmpresa" />
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="lblnomContacto">Nombre Contacto</label>
                                                        <input type="text" class="form-control my-1"
                                                            formControlName="nomContacto" id="nomContacto"
                                                            [(ngModel)]="publicidadModel.nomContacto" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="lblCelular">Teléfono Contacto</label>
                                                        <input type="number" class="form-control my-1"
                                                            formControlName="telefonoContacto" id="telefonoContacto"
                                                            [(ngModel)]="publicidadModel.telefonoContacto" />
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="lblFecIniPub">Fecha Inicio</label>
                                                        <input type="date" class="form-control my-1" id="fecIniPub"
                                                            [(ngModel)]="publicidadModel.fecIniPub"
                                                            formControlName="fecIniPub" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="lblFecTerPub">Fecha Termino</label>
                                                        <input type="date" class="form-control my-1" id="fecTerPub"
                                                            [(ngModel)]="publicidadModel.fecTerPub"
                                                            formControlName="fecTerPub" />
                                                    </div>
                                                </div>


                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <label for="lblFechaNacimiento">Email</label>
                                                        <input type="email" class="form-control my-1" id="email"
                                                            [(ngModel)]="publicidadModel.email"
                                                            formControlName="email" />
                                                    </div>
                                                </div>
                                                <div class="alert alert-danger"
                                                    *ngIf="formGestionPublicidad.get('email').errors && formGestionPublicidad.get('email').touched">
                                                    <p *ngIf="formGestionPublicidad.get('email').hasError('email')">
                                                        Correo invalido</p>
                                                    <p *ngIf="formGestionPublicidad.get('email').hasError('required')">
                                                        Campo Requerido</p>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <label for="lblSubirArchivo">Subir Archivo</label>
                                                        <input type="file" (change)="fileChange($event)"
                                                            formControlName="subirArchivo" class="form-control my-1"
                                                            id="subirArchivo1" />



                                                        <img [src]="imageSrc" *ngIf="imageSrc"
                                                            style="height: 300px; width:300px">
                                                        <div>
                                                            <button type="button" class="btn btn-outline-primary"
                                                                (click)="uploadFile()">SUBIR </button>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <input type="hidden" class="form-control my-1" id="imagenUrl"
                                                            [(ngModel)]="publicidadModel.imagenUrl"
                                                            formControlName="imagenUrl"
                                                            [ngClass]="{ 'is-invalid': submitted && f.imagenUrl.errors }" />


                                                        <div *ngIf="submitted && f.imagenUrl.errors">
                                                            <div class="alert alert-secondary"
                                                                *ngIf="f.imagenUrl.errors.required">Debe subir archivo
                                                                antes de enviar formulario
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <label for="lbldescPublicidad">Descripción de su
                                                            publicidad</label>
                                                        <textarea class="form-control my-1" id="descPublicidad" rows="2"
                                                            formControlName="descPublicidad"
                                                            [(ngModel)]="publicidadModel.descPublicidad"></textarea>
                                                    </div>
                                                </div>
                                                <hr />

                                                <div class="form-row">
                                                    <div class="form-group col-md-6 text-center">
                                                        <button type="submit"
                                                            class="btn btn-outline-primary">Enviar</button>
                                                    </div>
                                                    <div class="form-group col-md-6 text-center">
                                                        <button class="btn btn-outline-primary">Limpiar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>



<div *ngIf="mostrarPublicidad">
    <div class="container-fluid py-2 mx-auto">
        <div class="card card0 border-1">
            <div class="col-md-12 mt-3 ml-3 mb-2 mr-2">
                <!-- <div class="card mb-1"> -->
                <div class="card-body">
                    <div class="wrapper-editor">
                        <h4>Listado de Publicidad</h4>
                        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <!-- <th scope="col">ID</th> -->
                                    <th scope="col">Rut</th>
                                    <th scope="col">Nombre Empresa</th>
                                    <th scope="col">Nombre Encargado</th>
                                    <th scope="col">Fecha Inicio</th>
                                    <th scope="col">Fecha Termino</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let item of publicidades; index as i">
                                    <!-- <th scope="row">{{i+1}}</th> -->
                                    <td>{{item.idpublicidad | uppercase}}</td>
                                    <td>{{item.rutEmpresa | uppercase}}</td>
                                    <td>{{item.nomEmpresa | uppercase}}</td>
                                    <td>{{item.nomContacto | uppercase}}</td>
                                    <td>{{item.fecIniPub | uppercase}}</td>
                                    <td>{{item.fecTerPub | uppercase}}</td>
                                    <td>
                                        <a href="#editEmployeeModal" class="edit mr-2" data-toggle="modal"
                                            [routerLink]="['/accesoAdmin/EditPublicidad', item.idpublicidad]">
                                            <fa-icon [icon]="faPencilAlt"></fa-icon>
                                        </a>
                                        <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"
                                            (click)="editarPublicidad(item)">
                                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>



<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Publicidad N° : {{editarItem.idpublicidad}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de que desea eliminar estos registros?</p>
                    <p class="text-warning"><small>Esta acción no se puede deshacer.</small></p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="eliminarPublicidad(editarItem.idpublicidad)">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Publicidad N° : {{editarItem.idpublicidad}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="eliminarPublicidad(editarItem.idpublicidad)">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>