

<section id="guardiaPostula">
    <div class="container py-2 mx-auto mt-5">
        <div class="card card0 border-0">
            <div class="container">
                <div class="col-md-12 mt-2">
                    <div class="text-center">
                        <h3>Empleos Recientes</h3>
                    </div>

                    <div class="table-job-offers-outer">
                        <table class="table-job-offers table-responsive">
                            <tbody>
                                <tr>
                                    <td class="table-job-offers-date"><span>01/09/2020</span></td>
                                    <td class="table-job-offers-main">
                                        <!-- Company Light-->
                                        <article class="company-light">
                                            <figure class="company-light-figure"><img class="company-light-image"
                                                    src="../../../assets/img/company-1-45x45.png" alt="" width="45"
                                                    height="45">
                                            </figure>
                                            <div class="company-light-main">
                                                <h5 class="company-light-title"><a href="job-details.html">Guardia
                                                        con/sin OS10</a></h5>
                                                <p>JSA Seguridad</p>
                                            </div>
                                        </article>
                                    </td>
                                    <td class="table-job-offers-meta">
                                        <div class="object-inline"><span
                                                class="icon icon-sm text-primary mdi mdi-cash"></span><span>$
                                                350.000</span></div>
                                    </td>
                                    <td class="table-job-offers-meta">
                                        <div class="object-inline"><span
                                                class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>Santiago</span>
                                        </div>
                                    </td>
                                    <td class="table-job-offers-badge"><span class="badge badge-secondary">Turno 4x4
                                            Rotativo</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="table-job-offers-date"><span>01/09/2020</span></td>
                                    <td class="table-job-offers-main">
                                        <!-- Company Light-->
                                        <article class="company-light">
                                            <figure class="company-light-figure"><img class="company-light-image"
                                                    src="../../../assets/img/company-1-45x45.png" alt="" width="45"
                                                    height="45">
                                            </figure>
                                            <div class="company-light-main">
                                                <h5 class="company-light-title"><a href="job-details.html">Guardia
                                                        con/sin OS10</a></h5>
                                                <p>JSA Seguridad</p>
                                            </div>
                                        </article>
                                    </td>
                                    <td class="table-job-offers-meta">
                                        <div class="object-inline"><span
                                                class="icon icon-sm text-primary mdi mdi-cash"></span><span>$
                                                350.000</span></div>
                                    </td>
                                    <td class="table-job-offers-meta">
                                        <div class="object-inline"><span
                                                class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>Santiago</span>
                                        </div>
                                    </td>
                                    <td class="table-job-offers-badge"><span class="badge badge-secondary">Turno 4x4
                                            Rotativo</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
<div class="container col-md-10 py-2 mx-auto mt-5 ">
    <div class="card-deck">
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="80" xmlns="http://www.w3.org/2000/svg"
                aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" role="img">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#00c851" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image
                    cap</text>
            </svg>

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This
                    content is a little longer.</p>
            </div>
            <div class="card-footer panel-custom">
                <p>Last updated 3 mins ago</p>
            </div>
        </div>
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="80" xmlns="http://www.w3.org/2000/svg"
                aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" role="img">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#00c851" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image
                    cap</text>
            </svg>

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This
                    content is a little longer.</p>
            </div>
            <div class="card-footer panel-custom">
                <p>Last updated 3 mins ago</p>
            </div>
        </div>
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="80" xmlns="http://www.w3.org/2000/svg"
                aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" role="img">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#00c851" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image
                    cap</text>
            </svg>

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This
                    content is a little longer.</p>
            </div>
            <div class="card-footer panel-custom">
                <p>Last updated 3 mins ago</p>
            </div>
        </div>
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="80" xmlns="http://www.w3.org/2000/svg"
                aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" role="img">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#00c851" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image
                    cap</text>
            </svg>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This
                    content is a little longer.</p>
            </div>
            <div class="card-footer panel-custom">
                <p>Last updated 3 mins ago</p>
            </div>
        </div>
    </div>
</div> -->
<!-- 
<div class="wrapper-editor col-md-10 py-2 mx-auto mt-5">
    <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th scope="col">#</th>

                <th scope="col">Empresa</th>
                <th scope="col">Detalle</th>
                <th scope="col">Cargo</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Termino</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of empleos; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{item.empresa}}</td>
                <td>{{item.detalle}}</td>
                <td>{{item.cargo}}</td>
                <td>{{item.fecInicio}}</td>
                <td>{{item.fecTermino}}</td>
                <td>
                    <a href="#editEmployeeModal" class="edit mr-2" data-toggle="modal" (click)="editar(item.idEmpleo)">
                        <fa-icon [icon]="faPencilAlt"></fa-icon><i data-toggle="tooltip"
                            data-target="#editEmployeeModal" title="Edit"></i>
                    </a>
                    <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" (click)="editar(item.idEmpleo)">
                        <fa-icon [icon]="faTrashAlt"></fa-icon><i data-toggle="tooltip" title="Delete"></i>
                    </a>
                </td>
        </tbody>
    </table>
</div>

<div class="container">
    <div class="card-deck">
        <div class="card" *ngFor="let item of empleos; index as i">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="80" xmlns="http://www.w3.org/2000/svg"
                aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" role="img">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#00c851" /><text x="50%" y="50%" fill="#dee2e6"
                    dy=".3em">{{item.empresa}}</text>
            </svg>
            <div class="card-body">
                <h5 class="card-title">{{item.cargo}}</h5>
                <p class="card-text">{{item.detalle}}</p>
            </div>
            <div class="card-footer panel-custom">
                <p>{{item.fecInicio}}</p>
            </div>
        </div>
    </div>
</div> -->


<div class="wrapper-editor col-md-12 py-2 mx-auto mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12 " style="margin-bottom:10px;" *ngFor="let item of empleos; index as i">
                <div class="card-deck">
                    <div class="card">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="80"
                            xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Image cap"
                            preserveAspectRatio="xMidYMid slice" role="img">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#00c851" /><text x="50%" y="50%" fill="#dee2e6"
                                dy=".3em">{{item.empresa}}</text>
                        </svg>
                        <div class="card-body bodyalto">
                            <h5 class="card-title">{{item.cargo}}</h5>
                            <p class="card-text">{{item.detalle}}</p>
                        </div>
                        <div class="card-footer panel-custom">
                            <p>{{item.fecInicio}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>