<section id="guardiaPostula">
    <div class="container py-2 mx-auto mt-5">
        <div class="card card0 border-0">
            <div class="container">
                <div class="col-md-12 mt-2">
                    <div class="text-center">
                        <h3>Empleos Recientes</h3>
                      </div>

                    <div class="table-job-offers-outer">
                        <table class="table-job-offers table-responsive">
                            <tbody>
                                <tr>
                                    <td class="table-job-offers-date"><span>01/09/2020</span></td>
                                    <td class="table-job-offers-main">
                                        <!-- Company Light-->
                                        <article class="company-light">
                                            <figure class="company-light-figure"><img class="company-light-image"
                                                    src="../../../assets/img/company-1-45x45.png" alt="" width="45"
                                                    height="45">
                                            </figure>
                                            <div class="company-light-main">
                                                <h5 class="company-light-title"><a href="job-details.html">Guardia con/sin OS10</a></h5>
                                                <p>JSA Seguridad</p>
                                            </div>
                                        </article>
                                    </td>
                                    <td class="table-job-offers-meta">
                                        <div class="object-inline"><span
                                                class="icon icon-sm text-primary mdi mdi-cash"></span><span>$ 350.000</span></div>
                                    </td>
                                    <td class="table-job-offers-meta">
                                        <div class="object-inline"><span
                                                class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>Santiago</span></div>
                                    </td>
                                    <td class="table-job-offers-badge"><span class="badge badge-secondary">Turno 4x4 Rotativo</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="table-job-offers-date"><span>01/09/2020</span></td>
                                    <td class="table-job-offers-main">
                                        <!-- Company Light-->
                                        <article class="company-light">
                                            <figure class="company-light-figure"><img class="company-light-image"
                                                    src="../../../assets/img/company-1-45x45.png" alt="" width="45"
                                                    height="45">
                                            </figure>
                                            <div class="company-light-main">
                                                <h5 class="company-light-title"><a href="job-details.html">Guardia con/sin OS10</a></h5>
                                                <p>JSA Seguridad</p>
                                            </div>
                                        </article>
                                    </td>
                                    <td class="table-job-offers-meta">
                                        <div class="object-inline"><span
                                                class="icon icon-sm text-primary mdi mdi-cash"></span><span>$ 350.000</span></div>
                                    </td>
                                    <td class="table-job-offers-meta">
                                        <div class="object-inline"><span
                                                class="icon icon-1 text-primary mdi mdi-map-marker"></span><span>Santiago</span></div>
                                    </td>
                                    <td class="table-job-offers-badge"><span class="badge badge-secondary">Turno 4x4 Rotativo</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-md-4 mt-2 ml-2 mb-2">

</div>