<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Menú Empresa </div>
      <div class="list-group list-group-flush">
        <a href="" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a class="nav-link list-group-item list-group-item-action bg-light" data-toggle="collapse" data-target=".navbar-collapse.show"
        [routerLink]="['/accesoEmpresa/empresas']">Operaciones</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            
          </ul>
        </div>
      </nav>
      <div class="page-header">
        <h3>Acceso portal Empresas</h3>
      </div>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>