 <form [formGroup]="formMisEvaluaciones"> 

    <div class="container">

        <h3 class="mb-1">Mis Evaluaciones</h3>
        <p class="mb-4 text-sm"></p>
 
        <div class="row">
      
            <h2>Listado de Mis evaluados</h2>
            <table mat-table [dataSource]="empleados" class="mat-elevation-z8" style="width:
                100%;">
                 <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID Evaluacion</th>
                    <td mat-cell *matCellDef="let consultarempleado"> {{consultarempleado.idEvaluacion}} </td>
                </ng-container>
                <ng-container matColumnDef="rut">
                    <th mat-header-cell *matHeaderCellDef>Rut Empleado</th>
                    <td mat-cell *matCellDef="let consultarempleado"> {{consultarempleado.rutempleado}} </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre Empleado</th>
                    <td mat-cell *matCellDef="let consultarempleado"> {{consultarempleado.nombreempleado}} </td>
                </ng-container>
                <ng-container matColumnDef="articulo">
                    <th mat-header-cell *matHeaderCellDef>Articulo</th>
                    <td mat-cell *matCellDef="let consultarempleado"> {{consultarempleado.nombrearticulo}} </td>
                </ng-container>
                <ng-container matColumnDef="inciso">
                    <th mat-header-cell *matHeaderCellDef>Inciso</th>
                    <td mat-cell *matCellDef="let consultarempleado"> {{consultarempleado.nombreincisocorto}} </td>
                </ng-container>
                <ng-container matColumnDef="fechaingreso">
                    <th mat-header-cell *matHeaderCellDef>fechaingreso</th>
                    <td mat-cell *matCellDef="let consultarempleado"> {{consultarempleado.fechaingreso}} </td>
                </ng-container>
                <ng-container matColumnDef="fechatermino">
                    <th mat-header-cell *matHeaderCellDef>fechatermino</th>
                    <td mat-cell *matCellDef="let consultarempleado"> {{consultarempleado.fechatermino}} </td>
                </ng-container>
                
                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef>Editar</th>
                    <td mat-cell *matCellDef="let consultarempleado">
                        <a mat-icon-button [routerLink]="['/accesoEmpresa/ReferirEmpleado', consultarempleado.idEvaluacion]">
                            <mat-icon color="primary">edit</mat-icon>
                        </a>

                        
                        <button (click)="editarEvaluacion(consultarempleado.idEvaluacion)" mat-icon-button>
                            <mat-icon>launch</mat-icon>
                        </button>

                      
                    </td>
                </ng-container>
                <ng-container matColumnDef="eliminar">
                    <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                    <td mat-cell *matCellDef="let consultarempleado">
                        <button (click)="eliminarEvaluacion(consultarempleado)" mat-icon-button>
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="['id','rut', 'nombre', 'articulo','inciso', 'fechaingreso','fechatermino','editar',
                    'eliminar']"></tr>
                <tr mat-row *matRowDef="let fila; columns: ['id','rut', 'nombre', 'articulo','inciso','fechaingreso','fechatermino',
                    'editar', 'eliminar'];"></tr>
            </table>
         
        </div>
      
      </div>
      
      </form>