<form (ngSubmit)="onSubmit()" [formGroup]="formListar" #formReferir="ngForm">
    <section id="EvaluarEmpleado">
       <div class="container py-2 mx-auto">
          <div class="card card0 border-0">
             <div class="row d-flex">
                <div class="container">
                   <div class="main-body">
                      <div class="row gutters-sm">
                      
                         <div class="col-md-12 mt-3 ml-3 mb-2 mr-2">
                            <div class="card mb-1">
                               <div class="card-body">
                                  <div class="form-row">
                                     <div class="form-group col-md-6">
                                        <label for="lblCargoEmplei">Rut Empleado </label>
                                        <input type="text" class="form-control" placeholder="Ingresa Rut Empleado"
                                        formControlName="rutempleado" id="rutempleado" [(ngModel)]="empleadoModel.rutempleado" />  
                                        <p class="rutErrorEmpl" id="validacion-live"></p>
                                     </div>
                                     <div class="form-group col-md-6">
                                        <label for="lblProfesion">Nombre Completo Empleado</label>
                                        <input type="text" class="form-control" placeholder="Ingresa Nombre Empleado"
                                        formControlName="nombreempleado" id="nombreEmpleado" [(ngModel)]="empleadoModel.nombreempleado" #name=""/> 
                                       
                                     </div>
                                  </div>
                                  <div class="form-row">
                                     <div class="form-group col-md-6">
                                        <label for="lblVacantes">Rut Empresa</label>
                                        <input type="text" class="form-control" placeholder="Ingresa Rut Empresa"
                                        formControlName="rutempresa" id="rutempresa" [(ngModel)]="empleadoModel.rutempresa" />
                                        <p class="rutErrorEmp" id="validacion-live"></p>
                                     </div>
                                     <div class="form-group col-md-6">
                                        <label for="lblCelular">Nombre Empresa</label>
                                        <input type="text" id="nombreempresa" name="nombreempresa" formControlName="nombreempresa" class="form-control" placeholder="Ingresa Nombre Empresa"
                                         [(ngModel)]="empleadoModel.nombreempresa" minlength="2" maxlength="100" />  
                                     </div>

                                    

                                  </div>
                                  <div class="form-row">
                                     <div class="form-group col-md-6">
                                        <label for="lblRegion">Fecha Ingreso Empresa</label>
                                        <input type="date" class="form-control" id="fechaingreso"
                                        formControlName="fechaingreso" [(ngModel)]="empleadoModel.fechaingreso" />
                                     </div>
                                     <div class="form-group col-md-6">
                                        <label for="lblComuna">Fecha Termino Empresa</label>
                                        <input type="date" class="form-control" id="fechatermino"
                                        formControlName="fechatermino" [(ngModel)]="empleadoModel.fechatermino"/>
                                     </div>
                                  </div>
                                  <div class="form-row">
                                     <div class="form-group col-md-6">
                                        <label for="lblFecIniPub">Articulo</label>
                                        <select name="idarticulo" id="idarticulo" class="form-control my-1"     
                                        (change)="onChangeinciso($event.target.value)" formControlName="idarticulo"
                                        [(ngModel)]="empleadoModel.idarticulo">
                                        <option value="">Seleccione Articulo</option>
                                        <option *ngFor="let articulos of articulomodel"
                                           value="{{articulos.idarticulo}}">{{articulos.nombrearticulo}}
                                        </option>
                                        </select>
                                     </div>
                                     <div class="form-group col-md-6">
                                        <label for="lblJornada">Inciso</label>
                                        <select name="idinciso" id="idinciso" class="form-control my-1"   [(ngModel)]="empleadoModel.idinciso" 
                                        formControlName="idinciso">
                                        <option value="">Seleccione Inciso</option>
                                        <option *ngFor="let incisos of incisomodel"value
                                        value="{{incisos.idinciso}}">{{incisos.nombreincisocorto}}
                                        </option>                                                   
                                        </select>
                                     </div>
                                  </div>
                                  <div class="form-row">
                                     <div class="form-group col-md-10">
                                        <label for="lblDireccion">Observación</label>
                                        <textarea class="form-control" formControlName="Observacion" placeholder="Ingresar Observación" rows="3" id="Observacion" [(ngModel)]="empleadoModel.Observacion"></textarea>
                                     </div>
                                  </div>
                                  <div class="form-row">
                                     <div class="form-group col-md-6">
                                        <label for="lblNivelEduacional">Autorización Información</label>
                                        <label class="checkbox">
                                        <input id="autorizacion" type="checkbox" name="autorizacion"
                                        class="form-control" formControlName="autorizacion" placeholder="Autorizar" [(ngModel)]="empleadoModel.autorizacion"/>
                                        Autorizo a Empresa InfoReed, a utilizar la información del despido, para
                                        fines correspondientes.
                                        </label>
                                     </div>
                                     <div class="form-group col-md-6">
                                        <label for="lblJornada">¿Recomendaría al empleado?</label>
                                        <div>
                                           <label for="lblNo" ngClass="labelBeforeSlide">NO</label>
               
                                        </div>
                                     </div>
                                  </div>
                                  <br>
                                  <div class="form-row">
                                     <div class="form-group col-md-6 text-center">
                                        <div class="col-md-6"><button type="submit" class="btn btn-blue text-center mb-1 py-2" >Evaluar</button></div>
                                     </div>
                                     <div class="form-group col-md-6 text-center">
                                        <button class="btn btn-outline-primary">Limpiar</button>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    </form>