<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="formReferido" #formReferir="ngForm">
        <div class="container py-2 mx-auto">
    
         
            <section id="Insertar">
                <div class="row">
                    <div>
                        <div class="card2 card border-0 px-4 px-sm-5 py-5">
    
    
                         
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <label for="lbltRut">Rut</label>
    
                                    <input type="text" class="form-control" placeholder="Ingresa Rut Empleado"
                                       formControlName="rutempleado" id="rutempleado" [(ngModel)]="empleadoModel.rutempleado" />        
                                </div>
                                <div class="col-md-6">
                                    <label for="lbltNombreEmpleado">Nombre Empleado</label>
    
                                    <input type="text" class="form-control" placeholder="Ingresa Nombre Empleado"
                                       formControlName="nombreempleado" id="nombreEmpleado" [(ngModel)]="empleadoModel.nombreempleado" />      
    
                                    
                                </div>
                            </div>
    
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <label for="lbltRutEmpresa">Rut Empresa</label>
    
                                    <input type="text" class="form-control" placeholder="Ingresa Rut Empresa"
                                       formControlName="rutempresa" id="rutempresa" [(ngModel)]="empleadoModel.rutempresa" />        
                                </div>
                                <div class="col-md-6">
                                    <label for="lbltNombreEmpresa">Nombre Empresa</label>
    
                                    <input type="text" class="form-control" placeholder="Ingresa Nombre Empresa"
                                       formControlName="nombreempresa" id="nombreempresa" [(ngModel)]="empleadoModel.nombreempresa" />      
                                </div>
                            </div>
    
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <label for="lbltFechaIngreso">Fecha Ingreso</label>
    
                                    <div class="input-group">
                                        <input type="date" class="form-control" id="fechaingreso"
                                            formControlName="fechaingreso" [(ngModel)]="empleadoModel.fechaingreso" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="lbltFechaTermino">Fecha Termino</label>
    
                                    <div class="input-group">
                                        <input type="date" class="form-control" id="fechatermino"
                                            formControlName="fechatermino" [(ngModel)]="empleadoModel.fechatermino"/>
                                    </div>


                                      

                                
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                   
                                        
                                      
                                        
                                            <label for="lblArticulo">Articulo</label>
                                            <select name="articulos" id="articulo" class="form-control my-1" ng-model="articulos"
                                                (change)="onChangeinciso($event.target.value)" formConrolName="articulo">
                                                <option value="">Seleccione Articulo</option>
                                                <option *ngFor="let articulos of articulomodel"
                                                                value="{{articulos.idarticulo}}">{{articulos.nombrearticulo}}
                                                            </option>
                                            </select>
                                      
    
    
                                    
                                   
                                </div>
                                <div class="col-md-6">
                                  
                                       
                                            <label for="lblinciso">Inciso</label>
                                            <select name="inciso" id="inciso" class="form-control my-1" ng-model="inciso" 
                                                formControlName="inciso">
                                                <option value="">Seleccione Inciso</option>
                                                <option *ngFor="let incisos of incisomodel"
                                                    value="{{incisos.idinciso}}">{{incisos.nombreincisocorto}}
                                                </option>
                                            </select>
                                 
                                   
                                </div>
                            </div>
                            <div class="row px-3">
                                <label for="lbltObservacion">Observación</label>
    
                                <textarea class="form-control" rows="3" id="Observacion" [(ngModel)]="empleadoModel.Observacion"></textarea>
                            </div>
    
                            <div class="row mt-3">
                                <div class="form-group col-md-6">
                                    <div class="field">
                                        <div class="control">
                                            <label class="checkbox">
                                                <input id="autorizacion" type="checkbox" name="autorizacion"
                                                    class="disclaimer" [(ngModel)]="empleadoModel.autorizacion"/>
                                                Autorizo a Empresa InfoReed, a utilizar la información del despido, para
                                                fines correspondientes.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group card mt-4">
                                        <div class="form-group col-md-6">
                                            <label for="lblRecomienda">¿Recomienda Empleado?</label>
                                            <br />
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="SI" name="Recomienda"
                                                    class="custom-control-input" formControlName="Recomienda" value="SI" />
                                                <label class="custom-control-label" for="RecomiendaSI">
                                                    SI
                                                </label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="NO" name="Recomienda"
                                                    class="custom-control-input" formControlName="sexo" value="NO" />
                                                <label class="custom-control-label" for="RecomiendaNO">
                                                    NO
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row mb-4">
                                <div class="col-md-6"><button type="submit" class="btn btn-blue text-center mb-1 py-2">Ingresar
                                        Datos</button></div>
    
                            </div>
                        </div>
                    </div>
                </div>
    
            </section>
           
    
        </div>
    </form>