<form (ngSubmit)="onSubmit()" [formGroup]="formReferido" #formReferir="ngForm">
    <section id="EvaluarEmpleado">
        <div class="container py-2 mx-auto">
            <div class="card card0 border-0">
                <div class="row d-flex">
                    <div class="container">
                        <div class="main-body">
                            <div class="row gutters-sm">

                                <div class="col-md-3 mt-2 ml-2 mr-2 mb-2">

                                    <div class="form-group card mt-1">
                                        <div class="card-body">
                                            <div class="d-flex flex-column align-items-center text-center">
                                                <img src="http://www.managementjournal.net/images/joomlart/article/f21bb913d01c75ee248de294e9ed844a.jpg" alt="Admin" class="rounded-circle"
                                                    width="180" />
                                                <div class="mt-2">
                                                    <h4>Evaluar Empleado</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group card mt-4 mx-auto">
                                        <div class="card-header">Evaluación del Empleado
                                            <span class="float-right" ngbTooltip="Ayuda">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                    class="bi bi-info-circle" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    <path
                                                        d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                    <circle cx="8" cy="4.5" r="1" />
                                                </svg>
                                            </span>
                                        </div>
                                        <p class="text-justify mx-auto" style="width: 90%;">Desde este Formulario,
                                            Podrá realizar la evaluación del empleado, teniendo la posibilidad, de
                                            recomendarlo o no, además se podrá dejar un registro, de las razones,
                                            por las cuales se dejo de presindir de sus servicios, para de esta forma
                                            contar con un registro de datos, que resalte a los buenos 
                                            elementos y advierta, cuando ocurre lo contrario.</p>
                                    </div>
                                </div>

                                <div class="col-md-8 mt-3 ml-3 mb-2 mr-2">
                                    <div class="card mb-1">
                                        <div class="card-body">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="lblCargoEmplei">Rut Empleado </label>
                                                    <input type="text" class="form-control" placeholder="Ingresa Rut Empleado"
                                       formControlName="rutempleado" id="rutempleado" [(ngModel)]="empleadoModel.rutempleado" />  
                                                </div>


                                                <div class="form-group col-md-6">
                                                    <label for="lblProfesion">Nombre Completo Empleado</label>
                                                    <input type="text" class="form-control" placeholder="Ingresa Nombre Empleado"
                                                    formControlName="nombreempleado" id="nombreEmpleado" [(ngModel)]="empleadoModel.nombreempleado" /> 
                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="lblVacantes">Rut Empresa</label>
                                                    <input type="text" class="form-control" placeholder="Ingresa Rut Empresa"
                                       formControlName="rutempresa" id="rutempresa" [(ngModel)]="empleadoModel.rutempresa" />
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="lblCelular">Nombre Empresa</label>
                                                    <input type="text" class="form-control" placeholder="Ingresa Nombre Empresa"
                                                    formControlName="nombreempresa" id="nombreempresa" [(ngModel)]="empleadoModel.nombreempresa" />  
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="lblRegion">Fecha Ingreso Empresa</label>
                                                    <input type="date" class="form-control" id="fechaingreso"
                                            formControlName="fechaingreso" [(ngModel)]="empleadoModel.fechaingreso" />
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="lblComuna">Fecha Termino Empresa</label>
                                                    <input type="date" class="form-control" id="fechatermino"
                                                    formControlName="fechatermino" [(ngModel)]="empleadoModel.fechatermino"/>
                                                   
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="lblFecIniPub">Articulo</label>
                                                    <select name="idarticulo" id="idarticulo" class="form-control my-1"    [(ngModel)]="empleadoModel.nombrearticulo" 
                                                (change)="onChangeinciso($event.target.value)" formControlName="idarticulo">
                                                <option value="">Seleccione Articulo</option>
                                                <option *ngFor="let articulos of articulomodel"
                                                                value="{{articulos.idarticulo}}">{{articulos.nombrearticulo}}
                                                            </option>
                                            </select>
                                            <input type="hidden" formControlName="nombrearticulo" value="{{empleadoModel.nombrearticulo}}" id="nombrearticulo" name="nombrearticulo" [(ngModel)]="empleadoModel.nombrearticulo">
      
                                        </div>
                                                <div class="form-group col-md-6">
                                                    <label for="lblJornada">Inciso</label>
                                                    <select name="idinciso" id="idinciso" class="form-control my-1"   [(ngModel)]="empleadoModel.idinciso" 
                                                    formControlName="idinciso">
                                                    <option value="">Seleccione Inciso</option>
                                                    <option *ngFor="let incisos of incisomodel"value
                                                        value="{{incisos.idinciso}}">{{incisos.nombreincisocorto}}
                                                    </option>                                                   
                                                </select>
                                                <input type="hidden" formControlName="nombreinciso" id="nombreinciso" name="nombreinciso" value="" [(ngModel)]="empleadoModel.nombreinciso" >
                                                </div>
                                            
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-10">
                                                    <label for="lblDireccion">Observación</label>
                                                    <textarea class="form-control" formControlName="Observacion" placeholder="Ingresar Observación" rows="3" id="Observacion" [(ngModel)]="empleadoModel.Observacion"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="lblNivelEduacional">Autorización Información</label>
                                                    <label class="checkbox">
                                                        <input id="autorizacion" type="checkbox" name="autorizacion"
                                                        class="form-control" formControlName="autorizacion" placeholder="Autorizar" [(ngModel)]="empleadoModel.autorizacion"/>
                                                        Autorizo a Empresa InfoReed, a utilizar la información del despido, para
                                                        fines correspondientes.
                                                    </label>
                                                </div>
                                               
                                                
                                           
                                                <div class="form-group col-md-6">
                                                    <label for="lblJornada">¿Recomendaría al empleado?</label>
                                                    <div id="recomienda" class="form-control" formControlName="recomienda" placeholder="Recomendar a este empleado">
                                                        <mat-label ngClass="labelBeforeSlide" [(ngModel)]="empleadoModel.recomienda"  formControlName="recomienda">NO</mat-label>
                                                        <mat-slide-toggle [(ngModel)]="empleadoModel.recomienda"  formControlName="recomienda">SI</mat-slide-toggle>
                                                    </div>
                                                </div>

                                            </div>

                                       <br>

                                            <div class="form-row">
                                                <div class="form-group col-md-6 text-center">
                                                    <div class="col-md-6"><button type="submit" class="btn btn-blue text-center mb-1 py-2" >Evaluar</button></div>
                                                </div>
                                            

                                                <div class="form-group col-md-6 text-center">
                                                    <button class="btn btn-outline-primary">Limpiar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>