<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <ul>
      <div class="sidebar-heading">
        <div class="profile-card">
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="user" class="profile-photo">
          <h5><a href="#" class="text-white">{{globals.role}}</a></h5>
          <a href="#" class="text-white"> Administrador</a>
        </div>
        <a [routerLink]="['/accesoAdmin']">Menu Administrador</a>
      </div>
      <div class="list-group list-group-flush">

        <li clas="fa fa-tachometer-alt">
          <a class="nav-link list-group-item list-group-item-action bg-light" data-toggle="collapse"
            data-target=".navbar-collapse.show">Gestión Perfil Empresa
            <span class="flecha">&#9660;</span>
          </a>

          <ul>
            <li>
              <a class="nav-link list-group-item list-group-item-action bg-light" data-toggle="collapse"
                data-target=".navbar-collapse.show" [routerLink]="['/accesoAdmin/RegistrarEmpresa/1']">Ingresar
                Empresa</a>
            </li>

            <li>
              <a class="nav-link list-group-item list-group-item-action bg-light" data-toggle="collapse"
                data-target=".navbar-collapse.show" [routerLink]="['/accesoAdmin/RegistrarEmpresa/2']">Listar
                Empresa</a>
            </li>
          </ul>

        </li>



        <li>
          <a class="nav-link list-group-item list-group-item-action bg-light" data-toggle="collapse"
            data-target=".navbar-collapse.show" [routerLink]="['/accesoAdmin/AutorizarFuna']">Autorizar Funa </a>
        </li>

        <li clas="fa fa-tachometer-alt">
          <a class="nav-link list-group-item list-group-item-action bg-light" data-toggle="collapse"
            data-target=".navbar-collapse.show">Gestión Publicidad
            <span class="flecha">&#9660;</span>
          </a>

          <ul>
            <li><a class="nav-link list-group-item list-group-item-action bg-light" data-toggle="collapse"
                data-target=".navbar-collapse.show" [routerLink]="['/accesoAdmin/GestionarPublicidad/1']">Ingresar
                Publicidad
              </a></li>
            <li><a class="nav-link list-group-item list-group-item-action bg-light" data-toggle="collapse"
                data-target=".navbar-collapse.show" [routerLink]="['/accesoAdmin/GestionarPublicidad/2']">Listar
                Publicidad
              </a></li>
          </ul>
        </li>

        <li>
          <a class="nav-link list-group-item list-group-item-action bg-light" data-toggle="collapse"
            data-target=".navbar-collapse.show" [routerLink]="['/accesoAdmin/GestionarEmpleo']">Gestión Empleo </a>
        </li>
      </div>
    </ul>
  </div>

  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">


      <button class="btn-menu btn btn-success btn-toggle-menu" id="menu-toggle" type="button">
        <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>