  
<!-- Page loader -->
<!-- <div id="preloader"></div> -->
<!-- header section start -->
<!-- <header class="header">
  <div class="container">


    <div class="row flexbox-center">
      <div class="col-lg-2 col-md-3 col-6">
        <div class="logo">
          <a href=""><img src="assets/img/logo.png" alt="logo" /></a>
        </div>
      </div>
      <div class="col-lg-10 col-md-9 col-6">
        <div class="responsive-menu"></div>
        <div class="mainmenu">
          <ul id="primary-menu navbar-nav mr-auto">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
                  [routerLink]="['/']">Inicio</a>
              </li>

              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
                  [routerLink]="['/postula']">Postula</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
                  routerLink="/lista">Empleos</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
                  routerLink="/lista">Publicita con nosotros</a>
              </li>


              <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
                  routerLink="/usuario">Perfil</a>
              </li>

              <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
                  routerLink="/listaPostulantes">Listado Personal</a>
              </li>
              <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
                  routerLink="/login">Ingreso</a>
              </li>
              <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/']"
                  (click)="onLogout()">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
</header> -->
<div id="preloader"></div>

<nav class="header navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container flexbox-center">
    <div class="col-lg-2">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" alt="logo" />
        </a>
      </div>
  <div class="ml-auto ">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
  <div class="mainmenu navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
            [routerLink]="['/postula']">Postula</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
            routerLink="/portal">Empleos</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
            routerLink="/publicaaqui">Publicita Aqui</a>
        </li>
      </ul>
  </div>

  <div class="mainmenu navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isLogged" routerLinkActive="active">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
            routerLink="/usuario">Perfil</a>
        </li>

        <li class="nav-item" *ngIf="isLogged" routerLinkActive="active">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
            routerLink="/listaPostulantes">Listado Personal</a>
        </li>
        <li class="nav-item" *ngIf="!isLogged" routerLinkActive="active">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
            routerLink="/login">INGRESO</a>
        </li>
        <li class="nav-item" *ngIf="isLogged" routerLinkActive="active">
          <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/']"
            (click)="onLogout()">SALIR</a>
        </li>
      </ul>
  </div>
  </div>
</nav>