
<!-- Page loader -->
<div id="preloader"></div>
<!-- header section start -->
<header class="header">
  <div class="container">

   


    <div class="row flexbox-center">
      <div class="col-lg-2 col-md-3 col-6">
        <div class="logo">
          <a href="#home"><img src="assets/img/logo.png" alt="logo" /></a>
        </div>
      </div>
      <div class="col-lg-10 col-md-9 col-6">
        <div class="responsive-menu"></div>
          <div class="mainmenu">
                        <ul id="primary-menu">
                            <li routerLinkActive="active">
                              <a class="nav-link active" [routerLink]="['/']">Inicio</a>
                            </li>
                            <li routerLinkActive="active">
                              <a class="nav-link active" [routerLink]="['/nosotros']">Nosotros</a>
                            </li> 
                            <li routerLinkActive="active">
                              <a class="nav-link active" [routerLink]="['/postula']">Postula</a>
                            </li>
                            <li routerLinkActive="active">
                              <a class="nav-link active" routerLink="/registro">Registro</a>
                            </li> 
                            <li routerLinkActive="active">
                              <a class="nav-link active" routerLink="/login">Login</a>
                            </li> 
                        
                          
                          
                        </ul>
                      
          </div>
      </div>
    </div>
  </div>
</header>



