
<div class="container-fluid px-2 px-md-4 py-2 ">
  <div class="card card0 border-0">
      <div class="row d-flex">
          <div class="col-lg-5">
              <div class="card1 pb-5">
                <br><br><br><br><br><br>
                <a href="#home"><img src="assets/img/Registro.png" alt="logo" /></a>
              <br><br><br><br>
                

              </div>
          </div>
          <div class="col-lg-7">
              <div class="card2 card border-0 px-4 px-sm-5 py-5"> <small class="text-right mb-3"></small>
              <br><br>
                <h3 class="mb-1">Crear un Registro</h3>
                <p class="mb-4 text-sm">Cree una cuenta, para poder utilizar, nuestros servicios</p>
                <div class="row mt-3">
                  <div class="col-md-6"> <label class="mb-0">
                          <h6 class="mb-0 text-sm">Rut Empresa</h6>
                      </label> <input type="text" name="fname" placeholder="Ingrese Rut Empresa"> </div>
                  <div class="col-md-6"> <label class="mb-0">
                          <h6 class="mb-0 text-sm">Nombre Empresa</h6>
                      </label> <input type="text" name="uname" placeholder="Ingrese Nombre Empresa"> </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-6"> <label class="mb-0">
                        <h6 class="mb-0 text-sm">Rut Representante</h6>
                    </label> <input type="text" name="fname" placeholder="Ingrese Rut Representante"> </div>
                <div class="col-md-6"> <label class="mb-0">
                        <h6 class="mb-0 text-sm">Nombre Representante</h6>
                    </label> <input type="text" name="uname" placeholder="Ingrese Nombre Representante"> </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-6"> <label class="mb-0">
                      <h6 class="mb-0 text-sm">Ingrese Contraseña</h6>
                  </label> <input type="password" name="Contrasenia"  placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"> </div>
              <div class="col-md-6"> <label class="mb-0">
                      <h6 class="mb-0 text-sm">Repita Contraseña</h6>
                  </label> <input type="password" name="RepetirContrasenia"  placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"> </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6"> <label class="mb-0">
                    <h6 class="mb-0 text-sm">Dirección Empresa</h6>
                </label> <input type="text" name="fname" placeholder="Ingrese Dirección"> </div>
            <div class="col-md-6"> <label class="mb-0">
                    <h6 class="mb-0 text-sm">Telefono Empresa</h6>
                </label> <input type="text" name="uname" placeholder="Ingrese Telefono"> </div>
        </div>
        <div class="row px-3"> <label class="mb-0">
              <h6 class="mb-0 text-sm">Email Empresa</h6>
          </label> <input type="text" name="email" placeholder="EmailEmpresa@email.com" [(ngModel)]="item.email">
       </div>

                  <div class="row mb-4">
                      <div class="col-md-6"> <button class="btn btn-blue text-center mb-1 py-2">Ingresar Datos</button> </div>
                  </div>
              
              </div>
          </div>
      </div>
  </div>
</div>				                            